.fondo {
    background-color: black;
}

.inicio {
    margin-top: 200px;
}

.bordes {
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    border-left: solid 5px white;
}

.bordes1{
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
}

.footer1 {
    margin-top: 200px;
    margin-left: 150px;
}

.titulo-h2 {
    color: white;
}

@font-face {
    font-family: 'Arvo';
    src: url(../fonts/Arvo-Italic.ttf);
}

.fuenteh2 {
    font-family: 'Arvo';
    src: url(../fonts/Arvo-Italic.ttf);
    font-size: 50px;
}