.bordes {
    color: white;
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-left: solid 5px;

    &1 {
        color: white;
        border-top: solid 5px;
        border-bottom: solid 5px;
        border-left: solid 5px;
        border-right: solid 5pxe;
      }
  }
  
