.bordes {
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    border-left: solid 5px white;

    &1 {
        border-top: solid 5px white;
        border-bottom: solid 5px white;
        border-left: solid 5px white;
        border-right: solid 5px white;
      }
  }
  
