.item {
    width: 50%;
    margin-top: 30px;
    border: 4px solid;
    border-radius: 5px;
  
    &-item {
        background-position: center;
        background-image: url(../images/Paquete1.jpg);
        width: 700px;
        height: 200px;
        transition-timing-function: linear;
        transition-delay: 0.5s;
        transition-duration: 1.5s;
    }
    
    &-item1 {
        background-position: center;
        background-image: url(../images/Paquete2.png);
        width: 700px;
        height: 200px;
        transition-timing-function: linear;
        transition-delay: 0.5s;
        transition-duration: 1.5s;
    }
    
    &-item2 {
        background-position: center;
        background-image: url(../images/Paquete3.png);
        width: 700px;
        height: 200px;
        transition-timing-function: linear;
        transition-delay: 0.5s;
        transition-duration: 1.5s;
    }
    
    &:hover {
        width: 900px;
        height: 200px;
    }

}
